<h1>Admin Dashboard</h1>
<div>
  <table class="table table-bordered">
    <tr>
      <th>Query</th>
      <th>Count</th>
    </tr>
    <tr>
      <td>Number of Products</td>
      <td><%= @count_product.length %></td>
    </tr>
    <tr>
      <td>Number of Categories</td>
      <td><%= @count_category.length%></td>
    </tr>
  </table>
</div>