<h1>About Us</h1>

<div>
  <header>
    <h2>Welcome to the Jungle!</h2>
  </header>
  <main>
    <p> This is a store, a store this is. We sell all kind of things. You think it, we sell it... yes, including things you never knew existed.</p>
  </main>
</div>